In [ ]:
Q1. Create a python program to sort the given list of tuples based on integer value using a
    lambda function.
    [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [32]:
l.sort(key = lambda x: x[1])

In [33]:
l

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [ ]:
Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
    lambda and map functions.
    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
l1 =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
list(map(lambda x: x**2, l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
    lambda functions
    Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [38]:
l3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
tuple(map(lambda x : str(x) ,l3))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
Q4. Write a python program using reduce function to compute the product of a list containing numbers
    from 1 to 25.

In [50]:
l4 = []

In [51]:
for i in range(1,26):
    l4.append(i)

In [52]:
l4

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [53]:
from functools import reduce

In [55]:
reduce(lambda x,y: x*y,l4)

15511210043330985984000000

In [ ]:
Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
    filter function.
    [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [56]:
l5 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [57]:
list(filter(lambda x: x %2==0 and x %3 == 0,l5))

[6, 60, 90, 120]

In [ ]:
Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
    function.
    ['python', 'php', 'aba', 'radar', 'level']

In [58]:
l6 = ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x: (x == "".join(reversed(x))), l6))

['php', 'aba', 'radar', 'level']