In [ ]:
Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
    you have collected data on the amount of time students spend studying for an exam and their final exam
    scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [92]:
data =  {'studying_time' : [10, 15, 20, 25, 12, 8, 16, 22, 18, 14],
          'exam_scores' : [80, 85, 90, 95, 82, 78, 87, 92, 88, 84]
}

In [93]:
df = pd.DataFrame(data)

In [94]:
df

   studying_time  exam_scores
0             10           80
1             15           85
2             20           90
3             25           95
4             12           82
5              8           78
6             16           87
7             22           92
8             18           88
9             14           84

In [95]:
df.corr(method='pearson')

               studying_time  exam_scores
studying_time        1.00000      0.99826
exam_scores          0.99826      1.00000

In [ ]:
 the Pearson correlation coefficient is close to 1 (e.g., 0.99826), it indicates a strong positive linear relationship. 
This means that as the amount of time spent studying increases, the final exam scores tend to increase as well.

In [ ]:
Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
    Suppose you have collected data on the amount of sleep individuals get each night and their overall job
    satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
    variables and interpret the result.

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [17]:
df = pd.DataFrame([6,8,7,5,6],columns=['sleep'])

In [18]:
df['satisfaction'] = [9, 7, 6, 8, 5]

In [19]:
df

   sleep  satisfaction
0      6             9
1      8             7
2      7             6
3      5             8
4      6             5

In [20]:
df.corr(method='spearman')

                 sleep  satisfaction
sleep         1.000000     -0.307794
satisfaction -0.307794      1.000000

In [ ]:
Ans:  negative value indicates a negative monotonic relationship. The closer the value is to -1 or 1, the stronger the correlation.

In [ ]:
Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
    exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
    for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
    between these two variables and compare the results.

In [81]:
# number of hours of exercise per week
df = {'exercise_hours': [3, 5, 2, 7, 4, 6, 5, 2, 4, 3, 1, 5, 6, 3, 2, 4, 2, 6, 5, 4, 3, 1, 2, 4, 6, 3, 5, 2, 4, 3,
                  1, 6, 5, 7, 2, 4, 3, 5, 2, 6, 3, 4, 2, 1, 5, 6, 4, 3, 2, 5, 3, 4],

# body mass index (BMI) in a sample of adults

       'bmi' : [25.2, 29.4, 22.1, 31.5, 27.6, 30.1, 29.0, 22.7, 26.8, 24.5, 21.6, 27.5, 29.9, 24.4, 21.8, 26.2, 22.3,
       30.2, 28.8, 26.3, 24.7, 20.9, 22.2, 26.1, 30.3, 24.3, 28.0, 21.9, 26.6, 24.2, 21.0, 29.8, 28.7, 32.1,
       22.4, 26.7, 24.6, 28.9, 21.7, 30.0, 24.9, 26.4, 21.3, 20.8, 27.3, 31.0, 26.5, 24.1, 23.3, 29.5, 24.8,
       25.8]}

In [82]:
df = pd.DataFrame(df)

In [83]:
df.head()

   exercise_hours   bmi
0               3  25.2
1               5  29.4
2               2  22.1
3               7  31.5
4               4  27.6

In [84]:
df.corr(method="pearson")

                exercise_hours       bmi
exercise_hours        1.000000  0.984949
bmi                   0.984949  1.000000

In [ ]:
value ranges from -1 to 1, indicating the strength and direction of the linear relationship between the two variables. 
A value close to 1 indicates a strong positive linear relationship, a value close to -1 indicates a strong negative linear 
relationship, and a value close to 0 indicates a weak or no linear relationship.

In [34]:
df.corr(method='spearman')

                 exeercise hours       bmi
exeercise hours         1.000000  0.983083
bmi                     0.983083  1.000000

In [ ]:
 value ranges from -1 to 1, indicating the strength and direction of the monotonic relationship between the two variables.
A value close to 1 indicates a strong positive monotonic relationship, a value close to -1 indicates a strong negative 
monotonic relationship, and a value close to 0 indicates a weak or no monotonic relationship.

In [ ]:
Q4. A researcher is interested in examining the relationship between the number of hours individuals
    spend watching television per day and their level of physical activity. The researcher collected data on
    both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
    these two variables.

In [77]:
# Number of hours spent watching television per day (X) 
df = {'tv_hours' : [3, 2, 4, 5, 1, 2, 3, 1, 4, 2, 3, 1, 2, 5, 3, 4, 2, 1, 3, 5, 2, 4, 1, 3, 2, 4, 5, 3, 1, 2,
            4, 3, 1, 2, 5, 4, 3, 2, 1, 4, 2, 3, 1, 5, 2, 3, 4, 2, 1, 3, 5],

# level of physical activity (Y) data
       'physical_activity' : [2, 3, 1, 1, 4, 3, 2, 4, 1, 3, 2, 4, 3, 1, 2, 1, 4, 3, 2, 5, 1, 2, 4, 3, 1, 2, 1, 3, 4,
                     2, 5, 1, 2, 4, 3, 1, 2, 4, 3, 5, 1, 2, 3, 1, 4, 2, 3, 1, 2, 4, 3]}

In [78]:
df = pd.DataFrame(df)

In [79]:
df.head()

   tv_hours  physical_activity
0         3                  2
1         2                  3
2         4                  1
3         5                  1
4         1                  4

In [80]:
df.corr(method='pearson')

                   tv_hours  physical_activity
tv_hours           1.000000          -0.286232
physical_activity -0.286232           1.000000

In [ ]:
Q5. A survey was conducted to examine the relationship between age and preference for a particular
    brand of soft drink. The survey results are shown below:
        
        Age(Years)        Soft drink Preference
         25                 Coke
         42                 Pepsi
         37                 Mountain dew
         19                 Coke
         31                 Pepsi
         28                 Coke

In [85]:
df = {'age' :[25,42,37,19,31,28],

       'soft_drink' :['coke','pepsi','mountain dew','coke','pepsi','coke']}

In [86]:
df = pd.DataFrame(df)

In [87]:
df

   age    soft_drink
0   25          coke
1   42         pepsi
2   37  mountain dew
3   19          coke
4   31         pepsi
5   28          coke

In [88]:
df.groupby("soft_drink").size()

soft_drink
coke            3
mountain dew    1
pepsi           2
dtype: int64

In [ ]:
Q6. A company is interested in examining the relationship between the number of sales calls made per day
    and the number of sales made per week. The company collected data on both variables from a sample of
    30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [89]:
data = { 'sales_calls' : [30, 25, 40, 35, 20, 15, 30, 25, 45, 40, 20, 15, 30, 25, 40, 35, 20, 15, 30, 25, 40, 35, 20, 15, 
               30, 25, 40, 35, 20, 15],
         
          "sales_per_week" : [10, 8, 12, 11, 6, 5, 9, 8, 13, 12, 6, 5, 10, 8, 12, 11, 6, 5, 10, 8, 12, 11, 6, 5, 10, 8, 12, 11,
                              6, 5]}

In [90]:
df = pd.DataFrame(data)

In [91]:
df.corr(method='pearson')

                sales_calls  sales_per_week
sales_calls         1.00000         0.99078
sales_per_week      0.99078         1.00000